.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 6px 9px 5px rgba(214, 196, 196, 0.76);
  -webkit-box-shadow: 5px 6px 9px 5px rgba(214, 196, 196, 0.76);
  -moz-box-shadow: 5px 6px 9px 5px rgba(214, 196, 196, 0.76);
  margin: 30px 0;
}
.postWrapper {
  padding: 10px;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postVert {
  cursor: pointer;
}
.postProfileImg {
  width: 10%;
  object-fit: cover;
}

.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}
.postDate {
  font-size: 12px;
}
.postImg {
  width: 100%;
  margin-top: 10px;
  max-height: 500px;
  object-fit: contain;
}
.postCenter {
  margin: 20px 0;
}
.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.postLike {
  color: aliceblue;
  font-size: 16px;
  background-color: rgb(103, 106, 227);
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  /* margin-left: 15px; */
}
.postHeart {
  color: aliceblue;
  font-size: 16px;
  background-color: rgb(211, 87, 59);
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}
.postLikeCounter{
    font-size: 14px;
    color: rgb(77, 75, 71);
    padding-left: 4px;
}
.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 14px;
}